<!DOCTYPE html>
<html>
  <head>
    <title>Baldur3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7abb47e8ad.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="my-custom-bg-success ">
  
    <div class="container-flex">
      <%= render 'shared/flash' %>
      <div class="row">
          <div class="col-1">
          
          <%= render 'shared/menu' %>  
          </div>
          <div class="col-11">
            <%= yield %>
            </div>
      </div>
    </div>
    
  </body>
</html>
